# --- DIRECT MODE ---
# Use this configuration to talk directly to the backend
VITE_API_BASE_URL=http://localhost:8000

# --- CONDUCTOR MODE ---
# Use this configuration to route traffic through the Conductor API Gateway
# VITE_API_BASE_URL=http://conductor-olive.vercel.app/api/v1/gateway/texas
# VITE_CONDUCTOR_API_KEY=cond_live_r-2KTzWvi_UhXlX9o7AIEtoBTSGI6Z5JTZi4wg9Zjms
